body {
  margin: 10px;
  padding-top: 50px;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#main-wrapper {
	width: 70%;
	margin: auto;
  z-index:1;
}

.glitch-canvas {
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: block;
    width: 500px;
    height: 500px;
}

.action-button {
  width: 100px;
  margin:3px;
}


#glitch-image {
  width:0;
  height:0;

}

#parameter-list {
  list-style: none;
  float:left;
}

#parameter-list li {
  float:left;
  list-style: none;
  text-align: center;
  width:150px;
  margin-right: 10px;
}

.navbar-brand {
    font-family: 'Pacifico', cursive;
    font-style: italic;
    font-size: 46px;
}

[hidden] {
    display: none;
}

.bitcoin-action-hint {
    display: none;
}

.bitcoin-address-container .bitcoin-address {
    border-bottom: 1px dashed gray;
    cursor: pointer;
}

.bitcoin-address-qr-container > img, .bitcoin-address-qr-container > canvas {
    margin: 0 auto;
}

.clickable-price {
    border-bottom: 1px dashed #888;
    cursor: pointer;
}

#bitcoin-icon {
    color: #f7931a;
    font-size: 128px;
}

#bitcoin-icon .fa-circle {
  text-shadow: 0 3px 3px rgba(32, 32, 32, 0.3);
}

#bitcoin-icon .fa-btc {
  text-shadow: 0 -1px 1px black;
  transform: rotate(20deg);
}

#toolpanel {
  margin-top: 10px;
}

.example-row {
    margin: 30px 0;
}

.example-heading {
    color: #357ebd;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
